@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

@mixin parent-box {
  height: 90vh;
  padding: 20px 15px;
  margin-top: 10px;
}

@mixin child-box {
  height: 100%;
  background-color: #ffffff;
  box-shadow: $primary-box-shadow;
  border-radius: 20px;
  padding: 25px 20px;
}

.dashboard {
  display: flex;
  min-height: 85vh;
  margin-top: 80px;

  .upload-btn{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      @include button-styles;
      width: 220px;
      height: 40px;
      background-color: transparent;
      border: 1px solid $border-color;
      color: #fff;
      background-color: $green-color;
      font-size: 14px;
      font-weight: 700;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      &:hover:not(:disabled) {
        background-color: $dark-green-color;
      }

      &:disabled {
        opacity: 0.9;
        cursor: not-allowed;
      }

      // &.uploading {
      //   background-color: $dark-green-color;
        
      //   &:hover {
      //     background-color: $green-color;
      //   }
      // }

      // &.analyzing {
      //   background-color: $green-color;
        
      //   &:hover {
      //     background-color: $dark-green-color;
      //   }
      // }
    }
  }

  // Dot animation styles
  .dot-animation {
    display: inline-flex;
    gap: 2px;

    .dot {
      display: inline-block;
      animation: dot-bounce 1.4s infinite ease-in-out both;
      font-weight: bold;
      font-size: 16px;

      &:nth-child(1) {
        animation-delay: -0.32s;
      }

      &:nth-child(2) {
        animation-delay: -0.16s;
      }

      &:nth-child(3) {
        animation-delay: 0s;
      }
    }
  }
}

// Keyframe animation for dot bouncing
@keyframes dot-bounce {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.5;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}