@use "./ChatBot.scss" as *;
@use "../../styles/variables.scss" as *;

.chatbot-circle {
  height: 60px;
  width: 60px;
  background-color: $green-color;
  position: fixed;
  right: 20px;
  bottom: 15px;
  border-radius: 50%;
  z-index: 200;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all $chat-box-transition-duration cubic-bezier(0.34, 1.2, 0.64, 1);

  //on hover changing the background color
  &:hover {
    background-color: $dark-green-color;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
